div {
    margin-top: 20px;
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    text-indent: 50px;
    color: blue;
}

h1, hr, p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h1 {
    color: orange;
}

p {
    color: rebeccapurple;
}